# Ignore secret.properties - important
/src/main/resources/application.properties
/src/main/resources/application-prod.properties
/src/main/resources/secret.properties

# Ignore all .env files
*.env

# Build & target directories
/target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven Wrapper
HELP.md
!.mvn/wrapper/maven-wrapper.jar
