<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

  <title>Techroniverse</title>

  <!-- Core CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}" />

  <!-- Third-party Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" />
  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/responsive.css}" />

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
    }

    .navbar-brand span {
      color: #007bff;
    }

    .nav-link {
      color: #444 !important;
      transition: color 0.3s ease;
    }

    .nav-link:hover {
      color: #007bff !important;
    }
  </style>
</head>
