<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"><meta charset="utf-8"></head>
<body class="sub_page">
    <header th:replace="~{fragments/header :: header}"></header>
  </div>

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h4>
          Forgot Password
        </h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="form_container card p-4 shadow-lg rounded-4">
            <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger text-center"></p>
            <form action="#"
             th:action="@{/reset-password}"
             method="Post">
              <div class="mb-3">
                <input id="email" name="email" type="email"  class="form-control" placeholder="Enter your Email" required/>
              </div>
              <div class="btn_box text-center mb-3">
                <button type="submit" class="btn btn-primary px-4 py-2 rounded-pill fw-semibold">
                  Reset Password
                </button>
              </div>
            </form>
            <hr class="my-4"/>
            <div class="text-center">
              <a th:href="@{/login}" class="btn btn-secondary px-4 py-2 rounded-pill fw-semibold">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>